
.profile{
    width:100%;
    height:70%;
    border:solid 1px;
    position:relative;
}

.profile-img{
    width:90%;
    height:90%;
    border-radius: 50%;
    margin:5%;
}

.profileInfo{
    position: absolute;
    width:70%;
    height:100%;
    right:0;
    margin:0;
}

.profileImg{
    position: absolute;
    left:0;
    width:30%;
}

.patInfo{
    height:70vh;
    width:100%;
}

.pStyle{
    color:black;
}

.profileInfoes{
    height:50%;
    padding-top:5%;
}

.likes{
    height:50%;
}

.bone{
    position: absolute;
    left:5%;
    top:5%;
    cursor: pointer;
}

.boneImg{
    position: relative;
    height:50%;
}

.likeInfoes{
    height:50%;
}

.likeInfo{
    width:10%;
    float:left;
    margin:10px;
}

.likeImgDiv{
    width:100%;
    height:70%;
    text-align: center;
}

.likeImg{
    width:50px;
    border-radius: 50%;
}
.likeInfoName{
    text-align: center;
}

.hrs{
    margin:0;
    border:solid 0.5px black;
}