.cardList{
    width:20%;
    float:left;
}

#card-container{
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-left: 0%;
    padding: 30px 30px;
}

.cardImg{
    min-width: 25vh;
    height: 300px;
}

.plus{
    width:20%;
    float:left;
    height: 300px;
}

#plusCard{
    height: 410px;
    display:table-cell; vertical-align:middle; text-align:center;
}

#plusImg{
    width: 50%;
}






