.profile{
    width:100%;
    height:50vh;
    border:solid 1px;
}

.profile-image {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: 10%;
}

.profileInfo{
    margin-left:10%;
    margin-top:3%;
    float:left;
}

.profileImg {
    float: left;
    width: 40%;
    height: 100%;
}

.patInfo{
    height:100%;
    width:100%;
}
